<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Logins</h1>
    <a href="<%= url_for :action => :user_info, :id => @user_info['id'], :query => {:goto => 'index'} %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :user_info, :id => @user_info['id'], :query => {:goto => 'edit'} %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
	</div>

  <div data-role="content">
    <img src="http://<%= @user_info['user_image_url'] %>" alt="user pic" />
    <ul data-role="listview">
      <li>
        <a href="<%= url_for :action => :download_profile_pic, :id => @user_info['id'], :query => {:profile_pic_url => @user_info['user_image_url'], :goto => 'download_info'} %>">Download profile pic</a>
      </li>
      <li>
        <div class="itemLabel">First Name: </div>
        <div class="itemValue"><%= @user_info['first_name'] %></div>
      </li>
      <li>
        <div class="itemLabel">Last Name: </div>
        <div class="itemValue"><%= @user_info['last_name'] %></div>
      </li>
      <li>
        <div class="itemLabel">Email: </div>
        <div class="itemValue"><%= @user_info['email'] %></div>
      </li>
    </ul>
  </div>

</div>
