<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Bookses</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>


    <form method="POST" action="<%= url_for :action=> :search %>">
    <input type="text" name="books[keyword]"/>
    <input type="submit" value="Search"/>
  </form>

  <div data-role="content">
    <ul data-role="listview">
      <% @bookses.each do |books| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => books.object %>">
              <%= books.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
